#torch=1.7.0+cu110
torch @ http://download.pytorch.org/whl/cu113/torch-1.10.0%2Bcu113-cp38-cp38-linux_x86_64.whl
transformers @ https://github.com/huggingface/transformers/archive/refs/tags/v4.19.1.tar.gz
tqdm
pandas==1.4.2

## ae_bakeoff dep
pytorch-lightning==0.10.0
